---
layout: default
---
<section class="Posts">

  <ul class="Post-list">

    {% for post in paginator.posts %}
      <li class="Post-listItem">
        <p class="Post-metadata">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} &mdash; By {{ post.author }}{% endif %}</p>

        <h2 class="Post-heading">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.heading }}</a>
        </h2>

        {% if post.featured_image %}
          <img class="Post-image--featured"src="{{ post.featured_image }}"></img>
        {% endif %}

        <p class="Post-description">{{ post.description }}</p>
        <a class="Button" href="{{ post.url | prepend: site.baseurl }}">Read More</a>

      </li>

      <hr>

    {% endfor %}
  </ul>
  <!-- Pagination Logic -->
    {% if paginator.total_pages > 1 %}
      <div class="Paginator">
        {% if paginator.previous_page %}
          <a class="Paginator-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
          <span class="Paginator-prev">&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em>{{ page }}</em>
          {% elsif page == 1 %}
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a class="Paginator-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
          <span class="Paginator-next">Next &raquo;</span>
        {% endif %}
      </div>
    {% endif %}


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</section>
