@import 
    "normalize",
    "skeleton",
    "fonts",
    "colors"
;


/*-------Site-Wide Styles--------*/
a, a:visited, a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*------- Anchor and Button Colors--------*/
a {
    color: $brand-color-primary;
    
    &:hover {
        color: $brand-color-dark;
    }
}

.button {
    color: $brand-color-primary;
    
    &:hover, &:focus {
        color: $brand-color-dark;
    }
}




