body {
    margin: 0;
    background-color: #F9F9F9;
}


/*-------Site-Wide Styles--------*/
a, a:visited, a:active, a:focus, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*------- Anchor and Button Colors--------*/

.button {
    color: $brand-color-primary;

    &:hover {
        color: $brand-color-light;
        border: 1px solid $brand-color-primary;
        outline: 0;
    }
}
