/*----- Header -----*/

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.site-logo {
    display: inline-block;
    background-color: $brand-color-primary;
    color: #fff;
    &:hover {
        background: $brand-color-light;
        color: #fff;
    }
    text-shadow: -1px 2px 3px rgba(150, 150, 150, 0.8) ;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2rem;
}

.site-nav {
    margin-right: 2rem;
}

.page-link {
    color: $brand-color-primary;
    padding-left: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
        color: $brand-color-light;
    }
}


/*----- Post-List  -----*/

.masthead {
    height: 400px;
    background-image: url('/img/masthead.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.posts {
    margin-top: 2em;
}

.post-list {
    list-style: none;


    li h2 {
        margin: none;
    }

    .post-meta {
        text-transform: uppercase;
    }

    .post-link, .post-meta, img, p {
        display: block;
        max-width: 100%;
    }

    img {
        margin-bottom: 2rem;
        width: 100%;
        max-height: 200px;
    }

    .post-link {
        font-weight: 400;
        color: $font-color-muted;
        &:hover {
            color: $brand-color-primary;
        }
    }

}

.pagination {
    text-align: center;

    a {
        color: $brand-color-primary;
        &:hover {
            color: $brand-color-light;
        }
    }
}


.rss-subscribe a {
    color: $brand-color-primary;
    &:hover {
        color: $brand-color-light;
    }
}

/*----- Post Pages  -----*/

.post {
    margin: 2em auto;
}

.post-content {

    a {
        color: $brand-color-primary;
        &:hover {
            color: $brand-color-light;
        }
    }

    .post-meta, h1, img {
        margin-bottom: 2rem;
    }
}


/*----- About Page  -----*/

.about {
    margin: 2em auto;

    .about-image {
      border-radius: 5%;

      /* Larger than mobile */
      @media (min-width: 400px) {
        display: block;
        margin: 0 auto 1em;
        width: 100%;
      }
      /* Larger than phablet */
      @media (min-width: 550px) {
        margin-left: 1em;
        margin-bottom: 1em;
        width: 300px;
      }
      /* Larger than tablet */
      @media (min-width: 750px) {
        width: 340px;
      }
      /* Larger than desktop */
      @media (min-width: 1000px) {
        width: 400px;
      }
    }
}

/*--Contact Form--*/
input[type="submit"].button {
    color: $brand-color-primary;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="submit"].button:hover,
textarea:focus,
select:focus {
  border: 1px solid $brand-color-primary;
  outline: 0;
}




/*----- Portfolio Page  -----*/

.portfolio {
    margin: 2em auto;

    header {
        margin-bottom: 4em;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    li:nth-of-type(odd) h3 {
        text-align: right;
    }
}

.portfolio-item {
    margin-bottom: 4em;
}





/*----- Footer  -----*/
.icon svg {
    width: 20px;
}

.site-footer {
    border-top: 1px solid lightgrey;
    padding-top: 2em;
}

footer a {
    color: $brand-color-primary;
    &:hover {
        color: $brand-color-light;
    }
}
