/*----- Header -----*/

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    font-size: 4.2rem;
    text-transform: uppercase;
    padding-left: 2rem;
}

.site-nav {
    padding-right: 2rem;
}

.page-link {
    padding-left: 1.2rem;
    text-transform: uppercase;
    
    font-weight: 400;
    &:hover {
        text-decoration: underline;
    }
}


/*----- Post-List  -----*/

.masthead {
    height: 400px;
    background-image: url('/img/masthead.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.post-list {
    list-style: none;
    margin-top: 8rem;
    
    li h2 {
        margin: none;
    }
    
    .post-link, .post-meta, img, p {
        display: block;
        margin-bottom: 1.2rem;
        max-width: 100%;
    }
    
    .post-link {
        font-weight: 400;
        color: $font-color-primary;
        &:hover {
            color: $font-color-muted;
        }
    }
    
    .post-description {
        font-weight: 300;
        font-size: 2rem;
    }
    
    
}

/*----- Footer  -----*/
.icon svg {
    width: 20px;
}

.site-footer {
    border-top: 1px solid lightgrey;
    padding-top: 2rem;
}