---
layout: default
---
<article class="Post">

  <header class="Post-header">
    <h1 class="Post-heading">{{ page.heading }}</h1>
    {% if page.subheading %}
      <h2 class="Post-subheading">{{ page.subheading }}</h2>
    {% endif %}
    <p class="Post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} &mdash; By {{ page.author }}{% endif %}</p>

    {% if page.featured_image %}
      <img src="{{ page.featured_image }}" class="Post-image--featured"></img>
    {% endif %}
  </header>

  {{ content }}

</article>
  {% include disqus.html disqus_identifier=page.disqus_identifier %}
